.vote-grid {
	display: grid;
	gap: 15px;
	padding: 15px;

	grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
	.vote-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

.pull-btn {
	background-color: #a6000c;
	color: white;
	border: none;
	border-radius: 25px;
	padding: 0.7rem 1.5rem;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	margin: 1.5rem auto;
	display: block;
	transition: background-color 0.2s ease;
}

.pull-btn:hover {
	background-color: #7a0009;
}
